.footer {
  background-color: #77c1bb;
  padding: 20px 0;
}

.footer__author {
  text-align: center;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #372c48;
  font-weight: 400;
}
